/* ============CSS Reset =============== */
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

:root {
  --font-family: "Comic Relief", system-ui;
  --font-weight: 500;
  --font-style: normal;
  --font-size: 1rem;
  --font-size-lg: 1.5rem;
  --font-size-sm: 0.75rem;
  --font-size-xs: 0.5rem;
  --font-size-xl: 2rem;
  --line-height: 1.5rem;
  --color: #000;
  --background-color: #fff;
  --border-radius: 0.5rem;
  --border-width: 2px;
  --text-color: rgb(25 164 197);
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: var(--font-weight) !important;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* 4. Base styles for body */
body {
  line-height: 1.5; /* Accessible line height */
  -webkit-font-smoothing: antialiased; /* Improve text rendering */
  font-family: var(--font-family) !important;
  background-color: #fff;
  color: #000;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* 9. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* 10. Layout container helper */
.container {
  width: 100%;
  padding: 1rem;
  padding-bottom: 0;
  margin: 0 auto;
  max-width: 100%;
}
